:link,:visited { text-decoration:none; }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; font-weight:normal; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input, dl, dt, dd { margin:0; padding:0 }
img { margin:0; padding:0; vertical-align:bottom; }
address { font-style:normal }
table { border:none; padding:0px; margin:0px; border-spacing:0px; font-size:1em;}
tr { border:none; padding:0px; margin:0px; }
td { border:none; padding:0px; margin:0px; vertical-align:top; border-spacing:0px; }
legend { display:none; }

div, p, li, a {background-repeat:no-repeat; }

dl       {margin: 0 0 0 0;}
dl dt    {margin: 0 0 0 0;}
dl dd+dt {margin-top: 0;}
dl dd    {margin: 0 0 0 0;}

ol       {list-style: none;}
ol li    {margin: 0 0 0 0;}
ol li ol {margin: 0 0 0 0;}
ol li ul {margin: 0 0 0 0;}

p        {margin-bottom: 0em;}

ul       {list-style: none;}
ul li    {margin: 0 0 0 0;}
ul li ul {margin: 0 0 0 0; list-style: none;}
ul li ol {margin: 0 0 0 0;}

pre      {font-size:1.2em; }

a:hover {text-decoration:none; }
a:focus { outline:none;}
