/* alegreya-regular - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alegreya-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Regular'), local('Alegreya-Regular'),
       url('../fonts/alegreya-v10-latin-regulard41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/alegreya-v10-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Italic'), local('Alegreya-Italic'),
       url('../fonts/alegreya-v10-latin-italicd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-italic.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-500 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/alegreya-v10-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Medium'), local('Alegreya-Medium'),
       url('../fonts/alegreya-v10-latin-500d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-500.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-500italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/alegreya-v10-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Medium Italic'), local('Alegreya-MediumItalic'),
       url('../fonts/alegreya-v10-latin-500italicd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-500italic.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-700 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/alegreya-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Bold'), local('Alegreya-Bold'),
       url('../fonts/alegreya-v10-latin-700d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-700.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-700italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/alegreya-v10-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'),
       url('../fonts/alegreya-v10-latin-700italicd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-700italic.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-800 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/alegreya-v10-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Alegreya ExtraBold'), local('Alegreya-ExtraBold'),
       url('../fonts/alegreya-v10-latin-800d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-800.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-800italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/alegreya-v10-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya ExtraBold Italic'), local('Alegreya-ExtraBoldItalic'),
       url('../fonts/alegreya-v10-latin-800italicd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-800italic.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-900 - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/alegreya-v10-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Black'), local('Alegreya-Black'),
       url('../fonts/alegreya-v10-latin-900d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-900.svg#Alegreya') format('svg'); /* Legacy iOS */
}

/* alegreya-900italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/alegreya-v10-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Black Italic'), local('Alegreya-BlackItalic'),
       url('../fonts/alegreya-v10-latin-900italicd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-v10-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-v10-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-v10-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-v10-latin-900italic.svg#Alegreya') format('svg'); /* Legacy iOS */
}

